.html, body {
  
  padding: 0;
  margin: 0;
  overflow: hidden;
  
  height: 100%;
  
}

content {
  
  display: block;
  position: absolute;
  
  overflow-y: scroll;
  overflow-x: hidden;
  
  padding: 0;
  margin: 0;
  
  top: 0%;
  left: 0%;
  
  width: 100%;
  height: 100%;
  
  z-index: 100;
  
}

.maintitle {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  height: calc(100vh - 3em);
  margin-left: 0px;
  
}

.maintitle > a { 

  font-weight: 800;

}

.niki {
  
  margin-top: .5em;
  margin-left: 8vw;
  font-size: 120px;
  color: var(--color-orange);
  text-align: right;
  
}

.description {
  
  margin-top: .5em;
  margin-left: 50vw;
  line-height: .25em;
  padding-top: .75em;
  font-size: 64px;
  font-weight: 800;
  
}

.highlight {
  
 color: var(--color-orange); 
  
}

.button-down-wrap {
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100vw;
  
}

.button-down {
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: var(--color-orange);
  
  border-radius: 50px;
  
  width: 2em;
  height: 2em;
  
  cursor: pointer;
  
  transition: 0.2s;
  
}

.button-down:hover {
  
  background-color: var(--color-orange-d);
  
}


.button-down > i {
  
  color: #ffff;
  
}

.bottom {
  
  display: flex;
  
  width: 100%;
  height: 100vh;
  
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  
}

.button {
  
  display: flex;
  
  justify-content: center;
  align-items: center;
  
  background-color: var(--color-orange);
  
  width: 10em;
  height: 4em;

  border-radius: 20px;

  cursor: pointer;
  transition: 0.2s;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
  
}

.button:hover {

  background-color: var(--color-orange-d);

}

.button:active {

  background-color: var(--color-orange-c);

}

.button > a {

  font-size: 20px;

}